<!-- Page Wrapper -->
<div id="page-wrapper">

  <div id="navbar">
    <div id="navbar-wrapper">
      <div id="logo">
        <img src="images/logo.png" style="filter: invert(100%);" alt="" />
      </div>
      <div id="links">
        <ul>
          <li><a href="#home">Home</a></li>
          <li><a href="#reqs">Requirements</a></li>
          <li><a href="#programs">Programs</a></li>
          <li><a href="#people">People</a></li>
        </ul>
      </div>
    </div>
  </div>
  

  <!-- Wrapper -->
  <div id="wrapper">
    
